<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resourceStatus">
            <h2><span jhiTranslate="lmsApp.resourceStatus.detail.title">Resource Status</span> {{resourceStatus.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lmsApp.resourceStatus.statusName">Status Name</span></dt>
                <dd>
                    <span>{{resourceStatus.statusName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource-status', resourceStatus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
