<div>
    <h2 id="page-heading">
        <span jhiTranslate="lmsApp.waitingList.home.title">Waiting Lists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-waiting-list" [routerLink]="['/waiting-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lmsApp.waitingList.home.createLabel">
            Create new Waiting List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="waitingLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateRequest"><span jhiTranslate="lmsApp.waitingList.dateRequest">Date Request</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requested"><span jhiTranslate="lmsApp.waitingList.requested">Requested</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let waitingList of waitingLists ;trackBy: trackId">
                <td><a [routerLink]="['/waiting-list', waitingList.id, 'view' ]">{{waitingList.id}}</a></td>
                <td>{{waitingList.dateRequest | date:'mediumDate'}}</td>
                <td>{{waitingList.requested}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/waiting-list', waitingList.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/waiting-list', waitingList.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'waiting-list/'+ waitingList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
